@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap");

body {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: var(--main-family);
  color: var(--main-color);
}

/* ! NAVBAR */

.container {
  max-width: 1590px;
  margin: 0 auto;
}

/* ! Hero  */
.container2 {
  max-width: 1450px;
  margin: 0 auto;
}

.background_img {
  background: url("./images/background_img.svg") no-repeat center;
  background-size: cover;
  height: 1075.62px;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.together,
.logo {
  margin-top: 55px;
}

.navigation {
  display: flex;
  list-style-type: none;
  padding: 0;
  width: 662px;
  justify-content: space-between;
}

.navigation__items a {
  text-decoration: none;
  color: var(--main-color);
  font-size: var(--nav-size);
}

.navigation__items a:hover {
  color: var(--secondary-color);
  font-size: 22px;
}

.navigation__items img:hover {
  cursor: pointer;
  width: 29px;
  height: 29px;
}

/* ! BURGER MENU */

.burger-menu {
  display: none;
}

/* ! HERO */
.hero .wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 215px;
}

.wrapper_left {
  max-width: 550px;
}

h1 {
  font-size: var(--sections-title-size);
  font-family: var(--main-family);
  margin: 0;
  line-height: 60px;
}

.wrapper_left p {
  font-size: var(--nav-size);
  line-height: 25px;
  margin: 0;
  margin-top: 15px;
}

.action-btn {
  width: 200px;
  height: 53px;
  border-radius: 50px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  color: var(--main-color);
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  background-color: #d05dde00;
  margin-right: 23px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.wrapper_left .action-btn {
  margin-top: 40px;
}

.wrapper__right {
  position: relative;
  width: 100%;
}

.wrapper__right img {
  position: absolute;
  top: -180px;
  right: -16px;
  /* height: 610px;
  width: 610px; */
}

/* ! Functional */

.functional {
  margin-top: 60px;
}

.functional__header {
  font-size: var(--sections-title-size);
  color: var(--secondary-color);
  margin: 0;
}

.functional .functional__header {
  max-width: 335px;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
}

.functional__text {
  font-size: var(--main-size);
  color: var(--primary-color);
  margin: 0;
  margin-top: 23px;
  letter-spacing: 0.08em;
}

.functional .functional__text {
  max-width: 424px;
  margin: 0 auto;
  text-align: center;
  margin-top: 23px;
}

/* ! HARD PART */

.functional-part {
  display: flex;
  justify-content: space-between;
  margin-top: 183px;
  position: relative;
  column-gap: 30px;
}

.functional-division {
  height: 665px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 438px;
  margin-top: 80px;
}

.functional-list_left {
  width: 440px;
  display: flex;
  justify-content: space-between;
}

.functional-list_right {
  width: 440px;
  display: flex;
  justify-content: space-between;
  height: 125px;
}

.functional_header {
  font-size: var(--function-title-size);
  font-weight: 500;
  /* text-align: right; */
  color: var(--secondary-color);
  margin: 0;
  width: 321px;
}

.functional_description {
  font-size: var(--main-size);
  font-weight: 400;
  /* text-align: right; */
  color: var(--primary-color);
  line-height: 22px;
  margin-top: 11px;
  width: 321px;
}

.functional-division .functional_main_img {
  position: absolute;
  right: 500px;
  top: -85px;
}

/* ! FOOTER */

.footer_background_img {
  background: url("./images/footer_back_img.png") no-repeat center;
  background-size: cover;
  height: 522.17px;
  margin-top: 350px;
}

.footer_items {
  margin-top: 185px;
}

.footer_part {
  display: flex;
  justify-content: space-between;
}

.footer_items h4 {
  font-size: var(--footer-title-size);
  margin: 0;
  line-height: 35px;
  font-weight: 700;
  width: 240px;
  height: 35px;
  color: var(--main-color);
}

.footer_items p {
  font-size: var(--main-size);
  margin-top: 13px;
  line-height: 23px;
  font-weight: 400;
  width: 518px;
  height: 88px;
  color: var(--main-color);
}

.footer_items .footer_item-2nd-p {
  width: 315px;
  height: 93px;
  font-size: var(--main-size);
  line-height: 29px;
  font-weight: 400;
  color: var(--main-color);
  margin-top: 13px;
}

.footer_logo img {
  margin-top: 13px;
  width: 70px;
  height: 50px;
}

.footer_last_letter {
  border-top: var(--main-color) 1px solid;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.footer_last_letter p {
  margin-top: 40px;
}

@media screen and (max-width: 1630px) {
  .container {
    max-width: 90%;
  }

  .container2 {
    width: 83%;
    margin: 0 auto;
  }

  .wrapper {
    gap: 200px;
  }

  .wrapper_left {
    margin-top: -120px;
  }

  .wrapper__right img {
    max-width: 100%;
    height: auto;
  }

  .functional_main_img img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 1400px) {
  .functional-comba h3 {
    font-size: 18px;
  }

  .functional-comba p {
    font-size: 14px;
  }

  .functional_main_img img {
    margin-top: 180px;
  }
}

@media screen and (max-width: 1024px) {
  .hero .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
  }

  .wrapper_left {
    width: 90%;
    margin: 0 auto;
  }

  .wrapper__right {
    width: 80%;
    margin: 0 auto;
  }

  .background_img {
    height: 1425px;
  }

  .functional-part {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
    justify-content: center;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .functional-division {
    margin-top: 180px;
  }

  .wrapper__right img {
    margin-top: 80px;
  }

  .footer_items p {
    width: 395px;
  }

  h1 {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .footer_part {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer_background_img {
    height: 837px;
  }

  .footer_items h4 {
    font-size: 22px;
  }

  .footer_items p {
    font-size: 12px;
  }

  .footer_last_letter p {
    margin-top: 26px;
  }

  .footer_background_img {
    margin-top: 0;
  }

  .button__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapper_left p {
    text-align: center;
  }
}

@media screen and (max-width: 426px) {
  .container2 {
    width: none;
    margin: 0 auto;
  }

  .hero .wrapper {
    margin-top: 30px;
  }

  .wrapper_left h1 {
    font-size: 28px;
  }

  .wrapper_left p {
    font-size: 12px;
  }

  .functional .functional__header {
    font-size: 37px;
  }

  .functional {
    margin-top: -160px;
  }

  .functional .functional__text {
    max-width: 220px;
    font-size: 14px;
  }

  .functional_header {
    width: 245px;
  }
  .functional_description {
    width: 225px;
  }

  .functional-list_left,
  .functional-list_right {
    width: 340px;
  }

  .footer_items:nth-child(2) {
    margin-top: 40px;
  }

  .footer_items:nth-child(3) {
    margin-top: 40px;
  }

  .footer_items p {
    width: 310px;
  }

  .action-btn {
    width: 150px;
    font-size: 12px;
  }
}

@media screen and (max-width: 376px) {
  .footer_items h4 {
    width: 315px;
  }
}

@media screen and (max-width: 321px) {
  .background_img {
    background: url(./images/small_top.svg) no-repeat center;
    background-size: cover;
  }

  .footer_background_img {
    background: url(./images/small_bot.svg) no-repeat center;
    background-size: cover;
  }

  .wrapper_left h1 {
    line-height: 35px;
    font-size: 18px;
  }

  .functional-img img {
    width: 60px;
    height: 60px;
  }

  .functional-list_left,
  .functional-list_right {
    width: 290px;
  }

  .functional_description {
    margin: 0;
  }

  .functional-comba {
    width: 230px;
  }

  .footer_items h4 {
    width: 250px;
    margin: 0;
  }

  .footer_items p {
    width: 270px;
  }

  .footer_items .footer_item-2nd-p {
    width: 270px;
  }
}
